/* Kolab Community Skin Color Definitions */

@text-color:  #4c4c4c;
@main-color:  #e63023;
@link-color:  #eb594f;
@light-color: lighten(@main-color, 38%);

@focus-color: fade(@main-color, 40%);
@outline-color: fade(@main-color, 60%);
@highlight-color: @main-color;
@hightlight-text: #fff;
