/* Kolab Community Skin Color Definitions */

@text-color:  #4c4c4c;
@main-color:  #e63023;
@link-color:  #eb594f;
@button-color: #000000;
@light-color: lighten(@main-color, 38%);

@title-text: @main-color;
@title-background: #f9f9f9;
@header-text: #000000;
@header-background: #f9f9f9;
@list-selected-text: @header-text;
@list-selected-background: #f9f9f9;

@focus-color: fade(@main-color, 40%);
@outline-color: fade(@main-color, 80%);
@highlight-color: @main-color;
@hightlight-text: #fff;
